#map {
    height: 100%;
}  

#filter {
    margin: 10px;
    margin-top: 70px;
    z-index: 4;
    position: absolute;
    cursor: pointer;
    left: 0px;
    top: 0px;
    width: 250px;
    height: 110px;
    background-color: white;
}

#showAnalytics {
    margin: 10px;
    margin-top: 190px;
    z-index: 4;
    position: absolute;
    cursor: pointer;
    left: 0px;
    top: 0px;
    width: 250px;
    height: 100px;
    background-color: white;
}

#shape {
    margin: 10px;
    margin-top: 300px;
    z-index: 4;
    position: absolute;
    cursor: pointer;
    left: 0px;
    top: 0px;
    width: 250px;
    height: 300px;
    background-color: white;
    transition: height 1s;
}

.collapsed {
    transition: height 1s;
    height: 100px !important;
}

#listOfRes {
    margin-top: 10px;
    height: 180px;
    overflow: auto;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/* modal */
button.btn-settings {
    margin: 25px;
    padding: 20px 30px;
    font-size: 1.2em;
    background-color: #337ab7;
    color: white;
}
button.btn-settings:active {
    color: white;
}
.modal {
    overflow: hidden;
}
.modal-dialog {
    margin-right: 0;
    margin-left: 0;
}
.modal-header {
    height:30px;
    padding: 20px;
    background-color:#18456b;
    color:white;
}
.modal-title {
    margin-top:-10px;
    font-size:16px;
}
.modal-header .close {
    margin-top:-10px;
    color:#fff;
}
.modal-body {
    color:#888;
    padding: 5px 35px 20px;
}
.modal-body h3 {
    text-align: center;
}
.modal-body p {
    padding-top:10px;
    font-size: 1.1em;
}